html,body {
	height: 100%;
}

body {
	border-top: 4px solid #DDD;
	margin: 0;
	padding: 0;
	position: relative;
}

table {
	margin: 10px auto;
}

tr:nth-child(even) {
	background: #F2F2F2;
}

th {
	background: #FF0084;
	color: white;
}

th:nth-child(odd) {
	background: #0073EA;
}

th,td {
	padding: 5px;
	font-size: small;
}

ul,ol,dl {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0 0 5px 0;
}

img.thumbnail {
	width: 600px;
	height: 400px;
}

pre {
	border: 4px dotted #999;
	background: #F2F2F2;
	padding: 12px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #6E6C64;
	text-decoration: none;
}

a:hover,a:active,a:focus {
	color: #999999;
	text-decoration: none;
}

div#header h1 {
	text-align: center;
}

div#footer {
	margin: 0 auto;
	text-align: center;
	font-size: smaller;
}

#demo.drag {
	background-color: #333;
}

.square {
	width: 80px;
	height: 45px;
	margin: 0 auto;
	padding: 10px 20px;
	color: #000;
	background: #fff;
}

.title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 54px;
	color: #0073EA;
}

.titlewrapper {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 68px;
	font-weight: bold;
	color: #FF0084;
	margin: 0 4px;
}

.container {
	width: 940px;
	margin: 0 auto;
}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
  float: left;
  display: inline;
  margin-left: 10px;
}
.grid1 {width: 60px;}
.grid2 {width: 140px;}
.grid3 {width: 220px;}
.grid4 {width: 300px;}
.grid5 {width: 380px;}
.grid6 {width: 460px;}
.grid7 {width: 540px;}
.grid8 {width: 620px;}
.grid9 {width: 700px;}
.grid10 {width: 780px;}
.grid11 {width: 860px;}
.grid12 {width: 940px;}
.first {margin-left: 0;clear: left;}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
 /* IE6 */
* html .clearfix { zoom: 1;}
 /* IE7 */
*:first-child+html .clearfix {zoom: 1;}